<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Quiz App</a><br />
          <a class="navbar-brand" href="/hollywoods">Leader Board</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <% if current_user.admin==true %>
          <li><a href="/admin">Go to admin page</a></li>
        <% end %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
</nav>

<% if @hollywood.MultiChoice %>
  <form method="GET" action="#">
    <h4>
      <strong>Type: More Than One Correct</strong><br /><br />
      <strong>Question: </strong> <%= @hollywood.question %> <br /><br />  
      <%= check_box_tag(:A) %> <%= @hollywood.o1 %><br /><br />
      <%= check_box_tag(:B) %> <%= @hollywood.o2 %><br /><br />
      <%= check_box_tag(:C) %> <%= @hollywood.o3 %><br /><br />
      <%= check_box_tag(:D) %> <%= @hollywood.o4 %><br /><br />
    </h4>
<% else %>
  <form method="GET" action="#">
    <h4>
      <strong>Type: Single Correct</strong><br /><br />
      <strong>Question: </strong> <%= @hollywood.question %><br /><br />  
      <input type="radio" name="ans" value="A"> <%= @hollywood.o1 %><br /><br />
      <input type="radio" name="ans" value="B"> <%= @hollywood.o2 %><br /><br />
      <input type="radio" name="ans" value="C"> <%= @hollywood.o3 %><br /><br />
      <input type="radio" name="ans" value="D"> <%= @hollywood.o4 %><br /><br />
    </h4>
<% end %>
<h3>Your Score is : <b><%= @lbd.Hscore %></b></h3>
  <% if Hollywood.count()==@hollywood.id %>
    <input type="Submit" name="Submit" value="Finish" class="btn btn-info" />
  <% else %>
    <input type="Submit" name="Submit" value="Submit" class="btn btn-info">
  <% end %>
